{% extends 'base.html' %}

{% block content %}
    <h2>{{ page_titel }}</h2>

    <table border ="1">
        <colgroup>
            <col width="120">
            <col width="120">
            <col width="180">
            <col width="180">
        </colgroup>
        <tr>
            <th>Vorname</th>
            <th>Nachname</th>
            <th>Titel</th>
            <th>Position</th>
        </tr>
        <tr>
            {% for mitarbeiter in mitarbeiters %}
                <tr>
                <td>{{ mitarbeiter.vorname }}</td>
                <td>{{ mitarbeiter.nachname }}</td>
                <td>{{ mitarbeiter.titel }}</td>
                <td>{{ mitarbeiter.position }}</td>
                </tr>

            {% endfor %}
        </tr>
    </table>
    <br>

    <a href="/staff/newStaff/"><button type="submit" class="btn btn-primary">Neu Anlegen</button></a>


{% endblock %}