<!-- File Decsription: HTML template for the site "mitarbeiter" !-->

{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}

    <table border ="1">
        <colgroup>
            <col width="120">
            <col width="120">
            <col width="180">
            <col width="180">
        </colgroup>
        <tr>
            <th>Vorname</th>
            <th>Nachname</th>
            <th>Titel</th>
            <th>Position</th>
            <td>&nbsp</td>
        </tr>
        <tr>
            {% for staff in staffs %}
                <tr>
                <td>{{ staff.firstname }}</td>
                <td>{{ staff.lastname }}</td>
                <td>{{ staff.title }}</td>
                <td>{{ staff.position }}</td>
                <td><a href="{% url 'editStaff' pk=staff.id %}">{% bootstrap_icon 'edit' %}</a></td>
                </tr>

            {% endfor %}
        </tr>
    </table>
    <br>

    <a href="{% url 'newStaff' %}" class="btn btn-primary">Neuer anlegen...</a>

{% endblock %}