/***********
 * General *
 ***********/

body {
    padding-top: 51px;
}

h2, h3 {
    font-size: 18px;
}

a {
    color: #00aced;
}

a:hover {
    color: #0099d4;
}

hr {
    border-top: 1px solid #DDDDDD;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}


/**********
 * Header *
 **********/

.navbar-default {
    background-color: #37444e;
}

.navbar-default .navbar-brand {
    color: #ffffff;
    font-size: 22px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #dddddd;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle:hover .icon-bar {
    background-color: #ffffff;
}

.navbar-text a {
    margin-left: 10px;
    margin-right: 5px;
    color: #92a4b2;
}


/***********
 * Sidebar *
 ***********/

#sidebar {
    background-color: #fafafa;
    padding: 10px 0 0 0;
}

#sidebar .divider {
    margin: 25px 0 0 0;
    padding: 0 15px;
    background-color: #f5f5f5;
}

#sidebar li {
    border:0 #f2f2f2 solid;
    border-bottom-width:1px;
    font-size: 15px;
}

#sidebar li a {
    padding: 15px 15px;
    color: #707980;
}

#sidebar li a:hover {
    background-color: #ffffff;
    color: #000000;
}

#sidebar li.active {
    text-decoration: none;
    background-color: #81c04d;
}

#sidebar li.active a {
    color: #ffffff;
}

#sidebar li.active a:hover {
    background-color: #81c04d;
    color: #ffffff;
}


/***********
 * Content *
 ***********/

.row-offcanvas {
    background-color: #ebeef0;
}

.content {
    background-color: #ffffff;
    margin: 15px 0;
    padding: 10px 15px;
}

.btn-primary {
    color: #fff;
    background-color: #ef553a;
    border-color: #ce5136;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.active.focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover {
    color: #fff;
    background-color: #d54323;
    border-color: #c85438;
}

table .glyphicon {
    font-size: 16px;
    margin-right: 5px;
}

.footer {
    padding: 18px 0;
}

.text-muted {
    color: #dddddd;
    font-style: italic;
}

.alert-success {
    color: #ffffff;
    background-color: #81c04d;
    border-color: #6cab4d;
    margin-top: 10px;
}

.alert-danger {
    color: #fff;
    background-color: #ef553a;
    border-color: #ce5136;
}

.form-group.required .control-label:after {
    content:"*";
}


/*****************
 * Media Queries *
 *****************/

/* collapsed sidebar styles */
@media screen and (max-width: 767px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }
    .row-offcanvas-right .sidebar-offcanvas {
        right: -41.6%;
    }

    .row-offcanvas-left .sidebar-offcanvas {
        left: -41.6%;
    }
    .row-offcanvas-right.active {
        right: 41.6%;
    }
    .row-offcanvas-left.active {
        left: 41.6%;
    }
    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 41.6%;
    }
    #sidebar {
        padding-top:0;
    }
}