h2 {
    font-size: 18px;
}

h3 {
    font-size: 18px;
}

a {
    color: #00aced;
}

hr {
    border-top: 1px solid #DDDDDD;
}

.active {
    text-decoration: none;
    background-color: #81c04d;
}

#sidebar .active a {
    color: #ffffff;
}

.navbar-default {
    background-color: #37444e;
}

.navbar-default .navbar-brand {
    color: #ffffff;
    font-size: 22px;
}

.navbar-text a {
    margin-left: 10px;
    margin-right: 5px;
    color: #92a4b2;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.row-offcanvas {
    background-color: #ebeef0;
}

.sidebar-offcanvas {
    background-color: #fafafa;
}

.sidebar-offcanvas, .sidebar-offcanvas a {
    color: #707980;
}

.sidebar-offcanvas li a:hover {
    background-color: #ffffff;
    color: #000000;
}

.sidebar-offcanvas li.active a:hover {
    background-color: #81c04d;
    color: #ffffff;
}

.content {
    background-color: #ffffff;
    margin: 15px 0;
    padding: 10px 15px;
}

.btn-primary {
    color: #fff;
    background-color: #ef553a;
    border-color: #ce5136;
}

.btn-primary:hover {
    color: #fff;
    background-color: #d54323;
    border-color: #c85438;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

table .glyphicon {
    font-size: 16px;
    margin-right: 5px;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle:hover .icon-bar {
    background-color: #ffffff;
}

.footer {
    padding: 18px 0;
}

.text-muted {
    color: #dddddd;
    font-style: italic;
}

.form-group.required .control-label:after {
    content:"*";
}