<!-- File Decsription: HTML template for the site "mitarbeiter" !-->

{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}

    <table border ="1">
        <colgroup>
            <col width="120">
            <col width="120">
            <col width="180">
            <col width="180">
        </colgroup>
        <tr>
            <th>Vorname</th>
            <th>Nachname</th>
            <th>Titel</th>
            <th>Position</th>
            <td>&nbsp</td>
        </tr>
        <tr>
            {% for employee in employees %}
                <tr>
                <td>{{ employee.firstname }}</td>
                <td>{{ employee.lastname }}</td>
                <td>{{ employee.title }}</td>
                <td>{{ employee.position }}</td>
                <td><a href="{% url 'editEmployee' pk=employee.id %}">{% bootstrap_icon 'edit' %}</a></td>
                </tr>

            {% endfor %}
        </tr>
    </table>
    <br>

    <a href="{% url 'newEmployee' %}" class="btn btn-primary">Neuer anlegen...</a>

{% endblock %}