{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}

    <table class="table table-bordered table-striped">

        <tr>
            <th>Vorname</th>
            <th>Nachname</th>
            <th>Titel</th>
            <th>Position</th>
            <td>&nbsp</td>
        </tr>
            {% for employee in employees %}

                <tr {% if not employee.user.is_active %}class="text-muted"{% endif %}>
                    <td>{{ employee.firstname }}</td>
                    <td>{{ employee.lastname }}</td>
                    <td>{{ employee.title }}</td>
                    <td>{{ employee.position }}</td>
                    <td>
                        <a href="{% url 'editEmployee' pk=employee.id %}">{% bootstrap_icon 'edit' %}</a>
                        <a href="{% url 'toggleEmployee' pk=employee.id %}">{% bootstrap_icon 'lock' %}</a>
                        <a href="{% url 'deleteEmployee' pk=employee.id %}">{% bootstrap_icon 'trash' %}</a>
                    </td>
                </tr>
            {% endfor %}
    </table>
    <br>

    <a href="{% url 'newEmployee' %}" class="btn btn-primary">Neuer Mitarbeiter</a>

{% endblock %}