<!-- File Decsription: HTML template for the site "neuerMA" !-->

{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
    <h2>{{ page_title }}</h2>
    <br>
    <form action="" enctype="multipart/form-data" method="post" class="form-horizontal">

        {% csrf_token %}

        {% bootstrap_form user_form layout='horizontal' %}
        {% bootstrap_form form layout='horizontal' %}

        <button type="submit" class="btn btn-primary">Anlegen</button>
        <button type="cancel" class="btn btn-primary">Abbrechen</button>

    </form>

{% endblock %}