{% extends 'base.html' %}
{% load bootstrap3 %}
{% block title %}
    {{ page_title }}
{% endblock %}
{% block content %}
    <h2>{{ page_title }}</h2>

    <table class="table table-bordered table-striped">
        <colgroup>
            <col width="120">
            <col width="120">
            <col width="180">
            <col width="180">
            <col width="20">
            <col width="20">
            <col width="30">
        </colgroup>
        <tr>
            <th>Kunden</th>
            <th>Strasse</th>
            <th>PLZ/Ort</th>
            <th>Telefonnr.</th>
            <th>&nbsp</th>
            <th>&nbsp</th>
            <th>Kontakte</th>
        </tr>
        <tr>
            {% for customer in customers %}
                <tr>
                    <td>{{ customer.company }}</td>
                    <td>{{ customer.street }}</td>
                    <td>{{ customer.plzcity }}</td>
                    <td>{{ customer.phone }}</td>
                    <td><a href="{% url 'editkunde' pk=customer.id %}">{% bootstrap_icon 'edit' %}</a></td>
                    <td><a href="{% url 'deletekunde' pk=customer.id %}">{% bootstrap_icon 'trash' %}</a></td>
                    <td><a href="{% url 'ansprechpartnerliste'  fk=customer.id %}">{% bootstrap_icon 'list' %}</a></td>
                </tr>

            {% endfor %}
        </tr>
    </table>
    <br>

    <a href="{% url 'neuerkunde'  %}" class="btn btn-primary">Neu Anlegen</a>


{% endblock %}