<!-- File Decsription: HTML template for the site "terminkalender" !-->

{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
    <h2>{{ page_title }}</h2>

    {% bootstrap_icon 'left' %}
    {% bootstrap_icon 'right' %}

<table class="table table-bordered table-striped">
        <colgroup>
            <col width="50">
            <col width="50">
            <col width="50">
            <col width="50">
            <col width="50">
            <col width="50">
            <col width="50">
        </colgroup>
        <tr>
            <th>Montag</th>
            <th>Dienstag</th>
            <th>Mittwoch</th>
            <th>Donnerstag</th>
            <th>Freitag</th>
            <th>Samstag</th>
            <th>Sonntag</th>
        </tr>
        <tr>
            <td><a href="{% url 'neuerTermin' %}">{% bootstrap_icon 'edit' %}</a></td>
            <td><a href="{% url 'neuerTermin' %}">{% bootstrap_icon 'edit' %}</a></td>
            <td><a href="{% url 'neuerTermin' %}">{% bootstrap_icon 'edit' %}</a></td>
            <td><a href="{% url 'neuerTermin' %}">{% bootstrap_icon 'edit' %}</a></td>
            <td><a href="{% url 'neuerTermin' %}">{% bootstrap_icon 'edit' %}</a></td>
            <td><a href="{% url 'neuerTermin' %}">{% bootstrap_icon 'edit' %}</a></td>
            <td><a href="{% url 'neuerTermin' %}">{% bootstrap_icon 'edit' %}</a></td>
        </tr>
    </table>
    <br>

    <a href="{% url 'neuerTermin' %}" class="btn btn-primary">Neu Anlegen</a>
    <a href="{% url 'editTermin' %}" class="btn btn-primary">Termin editieren</a>

{% endblock %}