{% extends 'base.html' %}
{% load bootstrap3 %}
{% block title %}
    {{ page_title }}
{% endblock %}
{% block content %}
    <h2>{{ page_title }}</h2>

    <table class="table table-bordered table-striped">
        <colgroup>
            <col width="120">
            <col width="120">
            <col width="180">
            <col width="180">
            <col width="20">
            <col width="20">
        </colgroup>
        <tr>
            <th>Notiztype</th>
            <th>Notiz</th>
            <th>&nbsp</th>
            <th>&nbsp</th>
        </tr>
        <tr>
            {% for note in notes %}
                <tr>
                    <td>{{ note.calltype }}</td>
                    <td>{{ note.notetext }}</td>
                    <td><a href="{% url 'editnotiz' pk=customer.id %}">{% bootstrap_icon 'edit' %}</a></td>
                    <td><a href="{% url 'deletenotiz' pk=customer.id %}">{% bootstrap_icon 'trash' %}</a></td>
                </tr>

            {% endfor %}
        </tr>
    </table>
    <br>

    <a href="{% url 'neuenotiz'  %}" class="btn btn-primary">Neu Anlegen</a>


{% endblock %}