<!-- File Description: HTML base template for all sites !-->
{% load bootstrap3 %}
{% load static %}
<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}My Acquisition{% endblock %}</title>

        {# --- CSS --- #}
        {% bootstrap_css %}
        {% block css %}
            {# these css files are loaded on every page, they may be extended in other templates #}
            <link rel="stylesheet" type="text/css" href="{% static 'css/myacquisition.css' %}" />
        {% endblock %}

        {# --- JAVASCRIPT --- #}
        {% bootstrap_javascript jquery=1 %}
        {% block js %}
            {# these javascripts files are loaded on every page, they may be extended in other templates #}
            <script type="text/javascript" src="{% static 'js/myaSidebar.js' %}"></script>
        {% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            {% block top_navigation %}
                {% include "navigation_top.html" %}
            {% endblock %}

            <div class="row row-offcanvas row-offcanvas-left row-eq-height">
                {% if user.is_authenticated %}
                    <div class="col-xs-6 col-sm-2 sidebar-offcanvas" id="sidebar" role="navigation">
                        {% block navigation %}
                            {% include "navigation_sidebar.html" %}
                        {% endblock %}
                    </div>
                {% endif %}

                <div class="col-xs-12 col-sm-10">
                    {# Display django.contrib.messages as Bootstrap alerts #}
                    {% bootstrap_messages %}

                    {% block content %}
                        {# the actual content #}
                    {% endblock %}
                    <div class="footer">
                        <hr>
                        © MyAcquisition 2017
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>