<!-- File Decsription: HTML template for the site "terminkalender" !-->

{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
    <h2>{{ page_title }}</h2>
    <div class="content">

        <h2 style="text-align: center;">
            <a href="{% url 'calendar' year=year_before_this month=month %}"> {% bootstrap_icon 'chevron-left' %} </a>
            {{ year }}
            <a href="{% url 'calendar' year=year_after_this month=month %}"> {% bootstrap_icon 'chevron-right' %} </a>
        </h2>

        <hr>
        <table id="calendar" class="table table-bordered table-striped">
            <tr>
                <td>
                    <a href="{% url 'calendar' year=previous_year month=previous_month %}"> {% bootstrap_icon 'chevron-left' %} {{ previous_month_name }} </a>
                </td>
                <td></td>
                <td></td>
                <td>{{ month_name }}</td>
                <td></td>
                <td></td>
                <td>
                    <a href="{% url 'calendar' year=next_year month=next_month %}">{{ next_month_name }} {% bootstrap_icon 'chevron-right' %} </a>
                </td>
            </tr>
            <tr>
                <th>Montag</th>
                <th>Dienstag</th>
                <th>Mittwoch</th>
                <th>Donnerstag</th>
                <th>Freitag</th>
                <th>Samstag</th>
                <th>Sonntag</th>
            </tr>
            <tr>
                <!-- beginn fist for-iteration: access of all week show as arrays in calendar -->
                {% for entry in calendar %}
                    <tr>
                        <!-- beginn second for-iteration: acces of all array in entry of calender -->
                        {% for x in entry %}
                            <!-- first if order: request to set blank rows when the entry in array is '0' -->
                            {% if x == 0 %}
                                <td></td>
                                <!-- request to show all day of month in each column -->
                            {% else %}
                                <td>
                                    {{ x }}
                                    <a href="{% url 'new_event' year=year month=month day=x %}">{% bootstrap_icon 'plus' %}</a>

                                    <!-- beginn third for-iteration: list of all events -->
                                    {% for event in all_events %}
                                        <!-- second if order: request of event from date each column -->
                                        {% if event.date.day == x and event.date.month == month and event.date.year == year %}
                                            <ul>
                                                <a href="{% url 'edit_event' year=year month=month day=x pk=event.id %}">
                                                    {{ event.title|truncatechars:10 }} <br> {{ event.starttime }}
                                                </a>
                                                <a href="{% url 'delete_event' pk=event.id %}"> {% bootstrap_icon 'trash' %} </a>
                                            </ul>
                                            <!-- close second if -->
                                        {% endif %}
                                        <!-- close third for-iteration -->
                                    {% endfor %}
                                </td>
                                <!-- close first if -->
                            {% endif %}
                            <!-- close second for-iteration -->
                        {% endfor %}
                    </tr>
                    <!-- close first for-iteration -->
                {% endfor %}
            </tr>
        </table>
    </div>
{% endblock %}
