<!-- File Decsription: HTML template for the home site !-->

{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
    <h2>{{ page_title }}</h2>
    <div class="row">
        <div class="col-md-12">
            <div class="content">
                <p>Hallo {{ employee_name }}!</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="content">
                <h3>Meine Notizen</h3>
                {% if my_notes %}
                    <table class="table table-bordered table-striped">
                        <tr>
                            <th>Datum</th>
                            <th>Notiz</th>
                            <th></th>
                        </tr>
                    {% for my_note in my_notes %}
                        <tr>
                            <td>{{ my_note.date }}</td>
                            <td>{{ my_note.notetext|truncatechars:40 }}</td>
                            <td><a href="{% url 'edit_note' pk=my_note.id %}">{% bootstrap_icon 'edit' %}</a></td>
                        </tr>
                    {% endfor %}
                    </table>
                {% else %}
                    <p>Bislang keine Notizen.</p>
                {% endif %}
                <p><a href="{% url 'list_notes' %}">Zur Notizenverwaltung...</a></p>

            </div>
        </div>
        <div class="col-md-6">
            <div class="content">
                <h3>Meine Termine</h3>
                {% if my_events %}
                    <table class="table table-bordered table-striped">
                        <tr>
                            <th>Datum</th>
                            <th>Titel</th>
                            <th>Ort</th>
                        </tr>
                    {% for my_event in my_events %}
                        <tr>
                            <td>{{ my_event.date }}</td>
                            <td>{{ my_event.title }}</td>
                            <td>{{ my_event.location }}</td>
                        </tr>
                    {% endfor %}
                    </table>
                {% else %}
                    <p>Derzeit keine Termine.</p>
                {% endif %}
                <p><a href="{% url 'calendar' %}">Zum Terminkalender...</a></p>
            </div>
        </div>
    </div>

{% endblock %}