{# File Description: HTML template for the event input (extends detail.html template) #}

{% extends 'detail.html' %}
{% load bootstrap3 %}

{% block content %}
    <h2>{{ page_title }}</h2>
    <div class="content">

        <div class="row">
            <div class="col-md-4">
                <div class="content">
                    <form action="" enctype="multipart/form-data" method="post" class="form-horizontal">

                        {% csrf_token %}

                        {# all forms given are rendered #}

                        {% bootstrap_form forms  %}


                        <button type="submit" value="addEvent" name="submit" class="btn btn-primary">Speichern</button>
                         <a  href="{% url 'calendar' %}" class="btn btn-primary">Zurück</a>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <div class="content">
                    <form action="" enctype="multipart/form-data" method="post" class="form-horizontal">

                        {% csrf_token %}

                        {% bootstrap_form formsL %}

                        <button type="submit" value="addInt" name="submit" class="btn btn-primary">Mitarbeiter hinzufügen</button>

                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <div class="content">
                    <form action="" enctype="multipart/form-data" method="post" class="form-horizontal">

                        {% csrf_token %}
                        {% bootstrap_form formsR %}

                        <button type="submit" value="addExt" name="submit" class="btn btn-primary">Ansprechpartner hinzufügen</button>
                    </form>
                </div>
            </div>
        </div>
       <br/>
        <table class="table table-bordered table-striped">

            <tr>
                <th>Leiter</th>
                <th>Name</th>
                <th>Position</th>
                <th>Firma</th>
                <th>Status</th>
                <th>&nbsp</th>
            </tr>
            {% for memberint in memberints %}
                <tr >
                    <td> {% if memberint.leader %} x {% endif %}</td>
                    <td>{{ memberint.employee.get_fullname }} </td>
                    <td>{{ memberint.employee.position }}</td>
                    <td> intern </td>
                    <td>{% if memberint.status == 0 %} eingeladen
                            <a href="{% url 'edit_event_member_internal' pk=memberint.id status=1 %}">{% bootstrap_icon 'ok' %}</a>
                            <a href="{% url 'edit_event_member_internal' pk=memberint.id status=2 %}"> {% bootstrap_icon 'remove' %}</a>
                        {% elif memberint.status == 1 %} teilnehmen
                            {% if not memberint.leader %}
                                {# the leader must participate in the event, hide the decline button #}
                                <a href="{% url 'edit_event_member_internal' pk=memberint.id status=2 %}"> {% bootstrap_icon 'remove' %}</a>
                            {% endif %}
                        {% elif memberint.status == 2 %} nicht teilnehmen
                        <a href="{% url 'edit_event_member_internal' pk=memberint.id status=1%}">{% bootstrap_icon 'ok' %}</a>
                    {% endif %}</td>
                    <td><a href="{% url 'delete_event_member_internal' pk=memberint.id  %}">{% bootstrap_icon 'trash' %}</a></td>
                 </tr>
            {% endfor %}
            {% for memberext in memberexts %}
                <tr >
                    <td> </td>
                    <td>{{ memberext.contact.get_fullname }} </td>
                    <td>{{ memberext.contact.position }}</td>
                    <td>{{ memberext.contact.customer.company }}</td>
                    <td>{% if memberext.status == 0 %} eingeladen
                            <a href="{% url 'edit_event_member_external' pk=memberext.id status=1 %}">{% bootstrap_icon 'ok' %}</a>
                            <a href="{% url 'edit_event_member_external' pk=memberext.id status=2 %}"> {% bootstrap_icon 'remove' %}</a>
                        {% elif memberext.status == 1 %} teilnehmen
                             <a href="{% url 'edit_event_member_external' pk=memberext.id status=2 %}"> {% bootstrap_icon 'remove' %}</a>
                        {% elif memberext.status == 2 %} nicht teilnehmen
                            <a href="{% url 'edit_event_member_external' pk=memberext.id status=1 %}">{% bootstrap_icon 'ok' %}</a>
                    {% endif %}</td>
                    <td><a href="{% url 'delete_event_member_external' pk=memberext.id  %}">{% bootstrap_icon 'trash' %}</a></td>
                 </tr>
            {% endfor %}

        </table>
        <br>
    </div>




    <script type="text/javascript">
        function mySelect() {
            mycustomer = document.getElementById("id_selcustomer").value;

            var ddcontact = document.getElementById("id_selcontact");
            while (ddcontact.options.length > 0) {
                ddcontact.remove(0);
            }
            opt = document.createElement("option");
            opt.value = '';
            opt.text= '---------';
            opt.setAttribute('selected', true);
            ddcontact.add(opt);
            {% for contact in mylist %}
                if ( mycustomer == {{ contact.customer.id }}) {
                    opt = document.createElement("option");
                    opt.value = {{ contact.id }};
                    opt.text= '{{ contact.get_fullname }}';
                    ddcontact.add(opt);
                }

            {% endfor %}



        }

    </script>


{% endblock %}
