{% extends "detail.html" %}

{% block js %}
    {{ block.super }} {# use the javascript defined in the extended template #}

    {# this javascript needs to be inline, because templatetags are used within the script #}
    <script type="text/javascript">
        function mySelect() {
            mycustomer = document.getElementById("id_selcustomer").value;

            var ddcontact = document.getElementById("id_selcontact");
            while (ddcontact.options.length > 0) {
                ddcontact.remove(0);
            }
            opt = document.createElement("option");
            opt.value = '';
            opt.text= '---------';
            opt.setAttribute('selected', true);
            ddcontact.add(opt);
            {% for contact in mylist %}
                if ( mycustomer == {{ contact.customer.id }}) {
                    opt = document.createElement("option");
                    opt.value = {{ contact.id }};
                    opt.text= '{{ contact.firstname }} {{ contact.lastname }}';
                    ddcontact.add(opt);
                }

            {% endfor %}
        }
    </script>

{% endblock %}
