{% extends 'list_base.html' %}
{% load bootstrap3 %}

{% block content %}
    <h2>{{ page_title }}</h2>
    <div class="content">
        <table id="data-table" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Telefon/Fax</th>
                    <th>Handy</th>
                    <th>E-Mail</th>
                    <th class="no-sort">&nbsp</th>
                </tr>
            </thead>
            <tbody>
                {% for contact in contacts %}
                    <tr {% if not contact.is_active %}class="text-muted"{% endif %}>
                        <td>{{ contact.get_fullname }} {{ contact.lastname }} </td>
                        <td>{{ contact.position }}</td>
                        <td>{{ contact.phone }} / {{ contact.fax }}</td>
                        <td>{{ contact.mobile }}</td>
                        <td>{{ contact.email }}</td>
                        <td>
                            <a href="{% url 'edit_contact' pk=contact.id  fk=contact.customer.id %}">{% bootstrap_icon 'edit' %}</a>
                            {% if contact.is_active %}
                            <a href="{% url 'delete_contact' pk=contact.id fk=contact.customer.id is_delete=0 %}" title="Deaktivieren">{% bootstrap_icon 'remove' %}</a>
                            {% else %}
                            <a href="{% url 'delete_contact' pk=contact.id fk=contact.customer.id is_delete=0 %}" title="Aktivieren">{% bootstrap_icon 'ok' %}</a>
                            {% endif %}
                            <a href="{% url 'delete_contact' pk=contact.id fk=contact.customer.id  is_delete=1 %}">{% bootstrap_icon 'trash' %}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>

        <a href="{% url 'new_contact' fk=selected_customer_id  %}" class="btn btn-primary">Neu Anlegen</a>
        <a href="{% url 'list_customers' %}" class="btn btn-primary">Zurück</a>
        <a href="{% url 'export_contacts' %}" class="btn btn-primary">Excel Export</a>

    </div>

{% endblock %}