{# File Description: HTML template for the contact list page #}

{% extends 'list_base.html' %}
{% load bootstrap3 %}

{% block content %}
    <h2>{{ page_title }}</h2>
    <div class="content">
        <table class="table table-bordered table-striped data-table">
            <thead>
                <tr>
                    <th>Firma</th>
                    <th>Adresse</th>
                    <th>Telefon/Fax</th>
                    <th>Webseite</th>
                    <th class="no-sort">&nbsp</th>
                    <th class="no-sort">Kontakte</th>
                </tr>
            </thead>
            <tbody>
                {% for customer in customers %}
                    <tr {% if not customer.is_active %}class="text-muted"{% endif %}>
                        <td>{{ customer.company }}</td>
                        <td>{{ customer.plzcity }}, {{ customer.street }}</td>
                        <td>{{ customer.phone }}/{{ customer.fax }}</td>
                        <td>{{ customer.website }}</td>
                        <td>
                            {% if customer.is_active %}
                            <a href="{% url 'edit_customer' pk=customer.id %}">{% bootstrap_icon 'edit' %}</a>
                            {% endif %}
                            {% if customer.is_active %}
                            <a href="{% url 'delete_customer' pk=customer.id is_delete=0 %}" title="Deaktivieren">{% bootstrap_icon 'remove' %}</a>
                            {% else %}
                            <a href="{% url 'delete_customer' pk=customer.id is_delete=0 %}" title="Aktivieren">{% bootstrap_icon 'ok' %}</a>
                            {% endif %}
                            <a href="{% url 'delete_customer' pk=customer.id is_delete=1 %}">{% bootstrap_icon 'trash' %}</a>
                        </td>
                        <td>
                            <a href="{% url 'list_contacts' fk=customer.id %}">{% bootstrap_icon 'list' %}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>

        <a href="{% url 'new_customer' %}" class="btn btn-primary">Neu Anlegen</a>
        <a href="{% url 'export_customers' %}" class="btn btn-primary">Excel Export</a>
    </div>

{% endblock %}