{# File Description: HTML template for the employee list page #}

{% extends 'list_base.html' %}
{% load bootstrap3 %}

{% block content %}
    <h2>{{ page_title }}</h2>
    <div class="content">
        <table class="table table-bordered table-striped data-table">
            <thead>
                <tr>
                    <th>Anrede</th>
                    <th>Vorname</th>
                    <th>Nachname</th>
                    <th>eMail-Adresse</th>
                    <th>Titel</th>
                    <th>Position</th>
                    <th class="no-sort">&nbsp</th>
                </tr>
            </thead>
            <tbody>
            {% for employee in employees %}
                 <tr {% if not employee.user.is_active %}class="text-muted"{% endif %}>
                    <td>{{ employee.gender }}</td>
                    <td>{{ employee.firstname }}</td>
                    <td>{{ employee.lastname }}</td>
                    <td>{{ employee.email }}</td>
                    <td>{{ employee.title }}</td>
                    <td>{{ employee.position }}</td>
                    <td >
                        {% if employee.user.is_active %}
                        <a href="{% url 'edit_employee' pk=employee.id %}">{% bootstrap_icon 'edit' %}</a>
                        {% endif %}
                        {% if not employee.user.is_superuser %}
                            {% if employee.user.is_active %}
                            <a href="{% url 'toggle_employee_status' pk=employee.id %}" title="Deaktivieren">{% bootstrap_icon 'remove' %}</a>
                            {% else %}
                            <a href="{% url 'toggle_employee_status' pk=employee.id %}" title="Aktivieren">{% bootstrap_icon 'ok' %}</a>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br>

        <a href="{% url 'new_employee' %}" class="btn btn-primary">Neu Anlegen</a>
        <a href="{% url 'export_employees' %}" class="btn btn-primary">Excel Export</a>

    </div>
{% endblock %}

