{% extends 'list_base.html' %}
{% load bootstrap3 %}

{% block content %}
    <h2>{{ page_title }}</h2>
    <div class="content">
        <form action="" enctype="multipart/form-data" method="post" class="form-horizontal">

            {% csrf_token %}
            {# all forms given are rendered #}
            {% for form in forms %}
                {% bootstrap_form form layout='horizontal' %}
            {% endfor %}

            <button type="submit" class="btn btn-primary pull-right">Filter anwenden</button>

        </form>
        <br/>
        <h3>{{ page_filtertext }}</h3>
        <br/>
        <table id="data-table" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Datum</th>
                    <th>Mitarbeiter</th>
                    <th>Kunde/Ansprechpartner</th>
                    <th>Notiz</th>
                    <th class="no-sort">&nbsp</th>
                </tr>
            </thead>
            <tbody>
                {% for note in notes %}
                    <tr>
                        <td>{{ note.date|date:"d.m.Y H:i" }}</td>
                        <td>{{ note.employee.get_fullname }} </td>
                        <td>{{ note.contact.customer }} / {{ note.contact.get_fullname }} </td>
                        <td>{{ note.notetext|truncatechars:50 }}</td>
                        <td>
                            <a href="{% url 'edit_note' pk=note.id %}">{% bootstrap_icon 'edit' %}</a>
                            <a href="{% url 'delete_note' pk=note.id %}">{% bootstrap_icon 'trash' %}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>

        <a href="{% url 'new_note' %}" class="btn btn-primary">Neu Anlegen</a>
        <a href="{% url 'export_notes' %}" class="btn btn-primary">Excel Export</a>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }} {# use the javascript defined in the extended template #}
    <script type="text/javascript">
        function mySelect() {
            mycustomer = document.getElementById("id_selcustomer").value;
            var ddcontact = document.getElementById("id_selcontact");
            while (ddcontact.options.length > 0) {
                ddcontact.remove(0);
            }
            opt = document.createElement("option");
            opt.value = '';
            opt.text= '---------';
            opt.setAttribute('selected', true);
            ddcontact.add(opt);
            {% for contact in mylist %}
                if ( mycustomer == {{ contact.customer.id }}) {
                    opt = document.createElement("option");
                    opt.value = {{ contact.id }};
                    opt.text= '{{ contact.get_fullname }}';
                    ddcontact.add(opt);
                }
            {% endfor %}
        }
    </script>
{% endblock %}
