<!-- File Decsription: HTML Template for the navigation !-->

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{% block title %}My Acquisition{% endblock %}</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                {# Definiere the Menüpunkte mit dem jeweiligen Namen aus der urls.py  #}  }
                {% with 'startseite mitarbeiter profil terminkalender logout' as list %}
                    {% for urlname in list.split %}
                        <li {% if request.resolver_match.url_name == urlname %}class="active"{% endif %}><a href="{% url urlname %}">{{ urlname|title }}</a></li>
                    {% endfor %}
                {% endwith %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>