{% extends 'base.html' %}
{% load bootstrap3 %}
{% block title %}
    {{ page_title }}
{% endblock %}
{% block content %}
    <h2>{{ page_title }}</h2>
    <div class="content">
        <table class="table table-bordered table-striped">
            <tr>
                <th>Datum</th>
                <th>Mitarbeiter</th>
                <th>Kunde/Ansprechpartner</th>
                <th>Notiz</th>
                <th>&nbsp</th>
            </tr>

            {% for note in notes %}
                <tr>
                    <td>{{ note.date|date:"d.m.Y H:i" }}</td>
                    <td>{{ note.employee.lastname }}, {{ note.employee.firstname }}</td>
                    <td>{{ note.contact.customer }} / {{ note.contact.lastname }},{{ note.contact.firstname }} </td>
                    <td>{{ note.notetext|truncatechars:50 }}</td>
                    <td><a href="{% url 'editnotiz' pk=note.id %}">{% bootstrap_icon 'edit' %}</a>
                    <a href="{% url 'deletenotiz' pk=note.id %}">{% bootstrap_icon 'trash' %}</a></td>
                </tr>
            {% endfor %}

        </table>
        <br>

        <a href="{% url 'neuenotiz'  %}" class="btn btn-primary">Neu Anlegen</a>
        <a href="{% url 'exportNotiz'  %}" class="btn btn-primary">Excel Export</a>
    </div>


{% endblock %}