{% extends 'base.html' %}
{% load bootstrap3 %}
{% block title %}
    {{ page_title }}
{% endblock %}
{% block content %}
    <h2>{{ page_title }}</h2>

    <table class="table table-bordered table-striped">
        <colgroup>
            <col width="120">
            <col width="120">
            <col width="180">
            <col width="180">
            <col width="20">
            <col width="20">
        </colgroup>
        <tr>
            <th>Firma</th>
            <th>Vorname</th>
            <th>Nachname</th>
            <th>Position</th>
            <th>&nbsp</th>
            <th>&nbsp</th>

        </tr>
        <tr>
            {% for contact in contacts %}
                <tr>
                <td>{{ contact.customer }}</td>
                <td>{{ contact.firstname }}</td>
                <td>{{ contact.lastname }}</td>
                <td>{{ contact.position }}</td>
                <td><a href="{% url 'editansprechpartner' pk=contact.id  fk=contact.customer.id %}">{% bootstrap_icon 'edit' %}</a></td>
                <td><a href="{% url 'deleteansprechpartner' pk=contact.id %}">{% bootstrap_icon 'trash' %}</a></td>

                </tr>

            {% endfor %}
        </tr>
    </table>
    <br>

    <a href="{% url 'neueransprechpartner' fk=selected_customer_id  %}" class="btn btn-primary">Neu Anlegen</a>


{% endblock %}